<app-nav></app-nav>
<div class="pre">
  <h1 class="pre1">Calculate Vechile Premium</h1>
  <form class="pre2" (ngSubmit)="calculatePremium()" >
    <label for="wheeler"><h3>Select whether vehicle is 2 or 4 wheeler</h3></label>
    <span>
      <input type="radio" class="pre3" value="50000" name="vehicleType"  [(ngModel)]="vehiclePrice"/>
      <label for="2-wheeler">For 2 Wheeler</label>
      <input type="radio" class="pre4" value="400000" name="vehicleType" [(ngModel)]="vehiclePrice"/>
      <label for="4-wheeler">For 4 Wheeler</label>
    </span>

    <label for="policy"><h3>Select policy type : comprehensive or third-party</h3></label>
    <span>
      <input type="radio" class="pre3" value="5000" name="policyType" [(ngModel)]="policyAmount" />
      <label for="comprehensive">Comprehensive</label>
      <input type="radio" class="pre4" value="4000" name="policyType" [(ngModel)]="policyAmount" />
      <label for="third-party">Third-party</label>
    </span>

    <div >
      <input type="date" name="dateOfPurchase" placeholder="Enter date of purchase" class="pre6" [(ngModel)]="purchaseDate"/>
    </div>
    
    <div>
      <button type="submit" class="pre7" >
        Submit
      </button>
    </div>
    <br>
    Your Estimated Value is:<b>{{estimatedValue}}</b>
  <br>
  </form>
</div>

