<app-nav></app-nav>
<h1>Welcome {{customerName}}</h1>
<div style="display: flex">
  <div class="card">
    <a [routerLink]="['/vehicle-details']">
      <img
        src="../../assets/images/buy-insurance.jpg"
        alt="Avatar"
        style="width: 33%"
      />
      <h4><b>Buy Insurance</b></h4>
    </a>
  </div>

  <div class="card">
    <a [routerLink]="['/renew-policy']">
      <img
        src="../../assets/images/renew-insurance.jpg"
        alt="Avatar"
        style="width: 33%"
      />
      <h4><b>Renew Insurance</b></h4>
    </a>
  </div>

  <div class="card">
    <a  (click)="onClaimClick()">
      <img
        src="../../assets/images/claim-insurance.jpg"
        alt="Avatar"
        style="width: 33%"
      />
      <h4><b>claim Insurance</b></h4>
    </a>
  </div>
</div>
<div>
  <button (click)="onButtonClick()">touch me</button>
</div>

<div>
  <div *ngFor="let nopol of noPolicyUserDetails">
    <ul>
      <li>vehicle : {{ nopol.vehicleType }}</li>
      <li>chassis number : {{ nopol.chasisNo }}</li>
    </ul>
    <button (click)="onSelectPolicyClick( nopol.vehicleId )">select policy</button>
  </div>
  <div *ngFor="let nopay of noPaymentUserDetails">
    <ul>
      <li>vehicle : {{ nopay.vehicleType }}</li>
      <li>chassis number : {{ nopay.chasisNo }}</li>
      <li>policy type : {{ nopay.policyType }}</li>
      <li>policy duration : {{ nopay.policyDuration }} years</li>
    </ul>
    <button>make payment</button>
  </div>
  <div *ngFor="let nocl of noClaimUserDetails">
    <ul>
      <li>vehicle : {{ nocl.vehicleType }}</li>
      <li>chassis number : {{ nocl.chasisNo }}</li>
      <li>policy type : {{ nocl.policyType }}</li>
      <li>policy duration : {{ nocl.policyDuration }} years</li>
      <li>policy age : {{ nocl.age }} days</li>
    </ul>
    <button>claim</button>
  </div>
  <div *ngFor="let cl of ClaimUserDetails">
    <ul>
      <li>vehicle : {{ cl.vehicleType }}</li>
      <li>chassis number : {{ cl.chasisNo }}</li>
      <li>policy type : {{ cl.policyType }}</li>
      <li>policy duration : {{ cl.policyDuration }} years</li>
      <li>policy age : {{ cl.age }} days</li>
      <li *ngIf="cl.claimed">claim approved for amount : {{ cl.claimAmount }}</li>
      <li *ngIf ="!cl.claimed">approval pending...</li>
    </ul>
  </div>
  
</div>
