<app-nav></app-nav>
<h1>Welcome {{customerName}}</h1>
<div style="display: flex">
  <div class="card">
    <a [routerLink]="['/vehicle-details']">
      <img
        src="../../assets/images/buy-insurance.jpg"
        alt="Avatar"
        style="width: 33%"
      />
      <h4><b>Buy Insurance</b></h4>
    </a>
  </div>

  <div class="card">
    <a [routerLink]="['/renew-policy']">
      <img
        src="../../assets/images/renew-insurance.jpg"
        alt="Avatar"
        style="width: 33%"
      />
      <h4><b>Renew Insurance</b></h4>
    </a>
  </div>

  <div class="card">
    <a  (click)="onClaimClick()">
      <img
        src="../../assets/images/claim-insurance.jpg"
        alt="Avatar"
        style="width: 33%"
      />
      <h4><b>claim Insurance</b></h4>
    </a>
  </div>
</div>

<div *ngFor="let v of userClaimVehicle">
<p>{{v.vehicleType}}</p>
</div>
<div *ngFor="let p of userClaimPolicy">
  <p>{{p.policyType}}</p>
</div>
<div *ngFor="let c of userClaim">
  <P>{{c.claimed}}</P>
</div>

<div *ngFor="let v of userPayVehicle">
  <p>{{v.vehicleType}}</p>
  </div>
  <div *ngFor="let p of userPayPolicy">
    <p>{{p.policyType}}</p>
  </div>
  <div *ngFor="let c of userPayment">
    <P>{{c.paid}}</P>
  </div>
