<app-nav></app-nav>
<div class="header">
  <h1>Welcome {{ customerName }}</h1>
</div>

<div class="container">
  <div class="card">
    <a [routerLink]="['/vehicle-details']">
      <img
        src="../../assets/images/buy.jpeg"
        alt="Avatar"
        style="width: 100%; height: 90%"
      />
      <h4 style="text-align: center; color: black"><b>Buy Insurance</b></h4>
    </a>
  </div>

  <div class="card">
    <a [routerLink]="['/renew-policy']">
      <img
        src="../../assets/images/renew_in.png"
        alt="Avatar"
        style="width: 100%; height: 90%"
      />
      <h4 style="text-align: center; color: black"><b>Renew Insurance</b></h4>
    </a>
  </div>

  <div class="card">
    <a (click)="onClaimClick()">
      <img
        src="../../assets/images/claim.jpeg"
        alt="Avatar"
        style="width: 100%; height: 90%"
      />
      <h4 style="text-align: center; color: black"><b>Claim Insurance</b></h4>
    </a>
  </div>
</div>
<div class="historybtn">
  <button class="btn" (click)="onButtonClick()">Policy History</button>
</div>

<div class="row" *ngIf="toggle">
  <div class="column">
    <div *ngFor="let nopol of noPolicyUserDetails" class="box">
      <ul>
        <li><h1>Pending Policy</h1></li>
        <li>vehicle : {{ nopol.vehicleType }}</li>
        <li>
          <h3>chassis number : {{ nopol.chasisNo }}</h3>
        </li>
      </ul>
      <button
        class="btn"
        (click)="
          onSelectPolicyClick(
            nopol.vehicleId,
            nopol.vehicleType,
            nopol.manufacturer,
            nopol.purchaseDate,
            nopol.registrationNo,
            nopol.chasisNo
          )
        "
      >
        select policy
      </button>
    </div>
  </div>

  <div class="column">
    <div
      *ngFor="let nopay of noPaymentUserDetails"
      class="box"
      style="background: #d5f5e3"
    >
      <ul>
        <li><h1>Payment due</h1></li>
        <li>vehicle : {{ nopay.vehicleType }}</li>
        <li>chassis number : {{ nopay.chasisNo }}</li>
        <li>policy type : {{ nopay.policyType }}</li>
        <li>policy duration : {{ nopay.policyDuration }} years</li>
        <li>
          <h2>Premium Amount : {{ nopay.premiumAmount }}</h2>
        </li>
      </ul>
      <button
        class="btn"
        (click)="onMakePaymentClick(nopay.policyNo, nopay.premiumAmount)"
      >
        make payment
      </button>
    </div>
  </div>

  <div class="column">
    <div
      *ngFor="let nocl of noClaimUserDetails"
      class="box"
      style="background: #ebdef0"
    >
      <ul>
        <li><h1>Not Yet Claimed</h1></li>
        <li>vehicle : {{ nocl.vehicleType }}</li>
        <li>chassis number : {{ nocl.chasisNo }}</li>

        <li>policy type : {{ nocl.policyType }}</li>
        <li>policy duration : {{ nocl.policyDuration }} years</li>
        <li>policy age : {{ nocl.age }} days</li>
        <li>
          <h2>policy number : {{ nocl.policyNo }}</h2>
        </li>
      </ul>
      <button class="btn" (click)="onClaimNowClick(nocl.policyNo)">
        claim now
      </button>
    </div>
  </div>

  <div class="column">
    <div
      *ngFor="let cl of ClaimUserDetails"
      class="box"
      style="background: #fadbd8"
    >
      <ul>
        <li><h1>Claimed</h1></li>
        <li>vehicle : {{ cl.vehicleType }}</li>
        <li>chassis number : {{ cl.chasisNo }}</li>
        <li>policy type : {{ cl.policyType }}</li>
        <li>policy duration : {{ cl.policyDuration }} years</li>
        <li>policy age : {{ cl.age }} days</li>
        <!-- <li *ngIf="cl.claimed"><h2>{{ cl.adminMessage }}</h2></li>
        <li *ngIf ="!cl.claimed">{{ cl.adminMessage }}</li> -->
        <li>
          <h2>{{ cl.adminMessage }}</h2>
        </li>
      </ul>
    </div>
  </div>
</div>
