<div class="resetpwd">

    <form [formGroup]="resetPasswordForm"> 
        <div>
        <input formControlName="emailId" class="reset1" placeholder="Email ID" type="email" required><br>
        </div>

        <div>
        <input formControlName="newPassword" class="reset2" placeholder="New Password" type="password"><br>
        </div>
        <div>
        <input formControlName="confirmPassword" class="reset3" placeholder="Confirm Password" type="password"><br>
        </div>

        <div>
        <button (click)="onSubmitClick()" class="reset4" type="button">Reset</button><br>
        </div>
    </form>
</div>