<app-navbar></app-navbar>
<div class="resetpwd">
  <form>
    <div>
      <input
        name="email"
        class="reset1"
        placeholder="Email ID"
        type="email"
        required
      /><br />
    </div>

    <div>
      <input
        name="password"
        class="reset2"
        placeholder="New Password"
        type="password"
      /><br />
    </div>
    <div>
      <input
        name="confirmPassword"
        class="reset3"
        placeholder="Confirm Password"
        type="password"
      /><br />
    </div>

    <div>
      <button (click)="onSubmitClick()" class="reset4" type="button">
        Reset</button
      ><br />
    </div>
  </form>
</div>
