<app-navbar></app-navbar>
<div id="image-container">
<div class="resetpwd">
  <form #reset="ngForm">
    <div>
      <input
        name="password"
        class="reset2"
        placeholder="New Password"
        type="password"
        [(ngModel)]="newPassword"
      /><br />
    </div>
    <div>
      <input
        name="confirmPassword"
        class="reset3"
        placeholder="Confirm Password"
        type="password"
        [(ngModel)]="confirmPassword"
      /><br />
    </div>
    <div *ngIf="errMessage" class="err">{{ errMessage }}</div>

    <div>
      <button (click)="onSubmitClick()" class="reset4" type="button">
        Reset</button
      ><br />
    </div>
  </form>
</div>
</div>