<app-nav></app-nav>
<div class="container">
  <div class="details">
    <div class="col">
      <h2>Please fill Vechicle Details</h2>
      <form
        #vehicleForm="ngForm"
        (ngSubmit)="vehicleForm.valid && onBuyInsuranceClick()"
      >
        <label for="vechileType">Choose Vechicle Type</label>
        <div class="form-group radio-group">
          <div class="radio">
            <input
              #type="ngModel"
              type="radio"
              id="2"
              value="2-wheeler"
              name="vehicleType"
              [(ngModel)]="vehicle.vehicleType"
              required
              #type="ngModel"
            />
            <label for="2">2 Wheeler</label>
          </div>
          <div class="radio">
            <input
              type="radio"
              id="4"
              value="4-wheeler"
              name="vehicleType"
              [(ngModel)]="vehicle.vehicleType"
              required
              #type="ngModel"
            />
            <label for="4">4 Wheeler</label>
          </div>
          <div *ngIf="vehicleForm.submitted && type.invalid">
            <div class="input-div" *ngIf="type.errors.required">
              <span class="sp-alert">Required</span>
            </div>
            </div>
        </div>
        
        <div class="form-group">
          <div class="form">
            <label for="manufacturer">Vechicle Manufacturer</label>
            <input
              type="text"
              name="manufacturer"
              class="ins4"
              [(ngModel)]="vehicle.manufacturer"
              #manufacturer="ngModel"
              required
            />
            <div *ngIf="vehicleForm.submitted && manufacturer.invalid">
              <div class="input-div" *ngIf="manufacturer.errors.required">
                <span class="sp-alert">Vechicle Manufacturer is required.</span>
              </div>
              </div>
          </div>

          <div class="form">
            <label for="model">Vechicle Model</label>
            <input
              type="text"
              name="model"
              class="ins4"
              [(ngModel)]="vehicle.model"
              #model="ngModel"
              required
            />
            <div *ngIf="vehicleForm.submitted && model.invalid">
              <div class="input-div" *ngIf="model.errors.required">
                <span class="sp-alert">Vehicle Model is required.</span>
              </div>
              </div>
          </div>
        </div>
        <div class="form">
          <label for="dlNo">DL Number</label>
          <input
            type="number"
            name="dlNo"
            placeholder="Driving License"
            class="ins4"
            [(ngModel)]="vehicle.dlNo"
            #dl="ngModel"
            required
          />
          <div *ngIf="vehicleForm.submitted && dl.invalid">
            <div class="input-div" *ngIf="dl.errors.required">
              <span class="sp-alert">Driving License is required.</span>
            </div>
            </div>
        </div>
        <div class="form-group">
          <div class="form">
            <label for="purchaseDate">Date of Purchase: </label>
            <input
              type="date"
              name="purchaseDate"
              class="ins4"
              [(ngModel)]="vehicle.purchaseDate"
              #date="ngModel"
              required
            />
            <div *ngIf="vehicleForm.submitted && date.invalid">
              <div class="input-div" *ngIf="date.errors.required">
                <span class="sp-alert">Date is required.</span>
              </div>
              </div>
          </div>

          <div class="form">
            <label for="registrationNo">Vechile Registration Number</label>
            <input
              type="number"
              name="registrationNo"
              class="ins4"
              [(ngModel)]="vehicle.registrationNo"
              #reg="ngModel"
              required
            />
            <div *ngIf="vehicleForm.submitted && reg.invalid">
              <div class="input-div" *ngIf="reg.errors.required">
                <span class="sp-alert">Registration number is required.</span>
              </div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form">
            <label for="engineNo">Enter Engine number</label>
            <input
              type="number"
              name="engineNo"
              placeholder="Engine number"
              class="ins4"
              [(ngModel)]="vehicle.engineNo"
              #eng="ngModel"
              required
            />
            <div *ngIf="vehicleForm.submitted && eng.invalid">
              <div class="input-div" *ngIf="eng.errors.required">
                <span class="sp-alert">Engine number is required.</span>
              </div>
              </div>
          </div>
          <div class="form">
            <label for="chasisNo">Enter Chassis number</label>
            <input
              type="text"
              name="chasisNo"
              placeholder="Chassis number"
              class="ins4"
              [(ngModel)]="vehicle.chasisNo"
              #chasis="ngModel"
              required
            />
            <div *ngIf="vehicleForm.submitted && chasis.invalid">
              <div class="input-div" *ngIf="chasis.errors.required">
                <span class="sp-alert">Chassis number is required.</span>
              </div>
              </div>
              <div *ngIf="!vehicleRegistrationStatus.status">
                <div class="input-div" *ngIf="!vehicleRegistrationStatus.status && vehicleForm.submitted">
                  <span class="sp-alert">{{ vehicleRegistrationStatus.statusMessage }}</span>
                </div>
                </div>

          </div>
        </div>
        <div class="form"><button type="submit">Submit</button></div>
      </form>
    </div>
    <div class="col image"></div>
  </div>
</div>
