<app-nav></app-nav>
<div class="container">
  <div class="details">
    <div class="col">
      <h2>Please fill Vechile Details</h2>
      <form #vehicleForm="ngForm"  (ngSubmit)="vehicleForm.valid && onBuyInsuranceClick()">
        <label for="vechileType">Choose Vechile Type</label>
        <div class="form-group radio-group">
          <div class="radio">
            <input
            #type="ngModel"
              type="radio"
              id="2"
              value="2-wheeler"
              name="vehicleType"
              [(ngModel)]="vehicle.vehicleType"
              required
            />
            <label for="2">2 Wheeler</label>
          </div>
          <div class="radio">
            <input
              type="radio"
              id="4"
              value="4-wheeler"
              name="vehicleType"
              [(ngModel)]="vehicle.vehicleType"
            />
            <label for="4">4 Wheeler</label>
          </div>
        </div>
        <small *ngIf="type.invalid && vehicleForm.submitted">vehicle type is required</small>
        <div class="form-group">
          <div class="form">
            <label for="manufacturer">Vechile Manufacturer</label>
            <input
              type="text"
              name="manufacturer"
              class="ins4"
              [(ngModel)]="vehicle.manufacturer"
              #manufacturer="ngModel"
              required
            />
          </div>
          
          <div class="form">
            <label for="model">Vechile Model</label>
            <input
              type="text"
              name="model"
              class="ins4"
              [(ngModel)]="vehicle.model"
              #model="ngModel"
              required
            />
          </div>
        </div>
        <div class="form">
          <label for="dlNo">DL Number</label>
          <input
            type="number"
            name="dlNo"
            placeholder="Driving License"
            class="ins4"
            [(ngModel)]="vehicle.dlNo"
            #dl="ngModel"
            required
          />
        </div>
        <div class="form-group">
          <div class="form">
            <label for="purchaseDate">Date of Purchase: </label>
            <input
              type="date"
              name="purchaseDate"
              class="ins4"
              [(ngModel)]="vehicle.purchaseDate"
              #date="ngModel"
              required
            />
          </div>

          <div class="form">
            <label for="registrationNo">Vechile Registration Number</label>
            <input
              type="number"
              name="registrationNo"
              class="ins4"
              [(ngModel)]="vehicle.registrationNo"
              #reg="ngModel"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <div class="form">
            <label for="engineNo">Enter Engine number</label>
            <input
              type="number"
              name="engineNo"
              placeholder="Engine number"
              class="ins4"
              [(ngModel)]="vehicle.engineNo"
              #eng = "ngModel"
              required
            />
          </div>
          <div class="form">
            <label for="chasisNo">Enter Chassis number</label>
            <input
              type="text"
              name="chasisNo"
              placeholder="Chassis number"
              class="ins4"
              [(ngModel)]="vehicle.chasisNo"
              #chasis = "ngModel"
              required
            />
          </div>
        </div>
        <div class="form"><button type="submit">Submit</button></div>
      </form>
    </div>
    <div class="col image"></div>
  </div>
</div>
