.container {
  min-height: 100vh;
}

.details {
  display: flex;
  width: 100%;
}
.details h2 {
  margin: 2rem 0rem;
  text-align-last: center;
  color: #f05050;
}
.details .col {
  width: 50%;
}
.image {
  background-image: url(../../assets/images/vd.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 85vh;
  background-position: center;
}
form {
  border: 2px solid #f05050;
  padding: 16px;
  margin: 0rem 2rem;
  border-radius: 8px;
}
label {
  font-size: 16px;
  font-weight: 500;
}
.form-group {
  display: flex;
  margin: 10px 0px;
}
.radio {
  margin-top: 8px;
}
.radio-group .radio {
  width: 50% !important;
}
.radio input[type="radio"] {
  margin-right: 6px;
}
input:focus {
  background-color: #ffe8e6;
  border: 2px solid #f05050;
}
.form label,
input[type="text"],
input[type="number"] {
  width: 100%;
}
.form input[type="text"],
input[type="number"] {
  margin: 8px 0px;
  padding: 11px 8px;
  border: 2px solid #f05050;
  border-radius: 4px;
  outline: none;
}
.form input[type="date"] {
  width: 100%;
  border: 2px solid #f05050;
  margin: 8px 0px;
  padding: 8px;
  border-radius: 4px;
  outline: none;
}
.form:nth-child(odd) {
  margin-right: 8px;
}
.form button {
  width: 100%;
  padding: 8px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #f05050;
  color: #fff;
  border: 2px solid#f05050;
}
.form button:hover {
  opacity: 0.9;
}
