<app-nav></app-nav>
<div class = "header">
    <h2>Congratulations, payment successful</h2>
</div>
<!-- <div class="outter-div">
<div class="inner-div">
  
  <div style="display: inline-flex; width: 100%; margin: 30px">
    <h3>
      <div
        style="
          float: left;
          margin-left: 220px;
          margin-right: 20px;
          display: block;
        "
      >
        Phone Number :
      </div>
      <div style="float: left; margin-right: 20px">{{ bill.phoneNo }}</div>
    </h3>
  </div>
  <div style="display: inline-flex; width: 100%; margin: 30px">
    <h3>
      <div
        style="
          float: left;
          margin-left: 220px;
          margin-right: 20px;
          display: block;
        "
      >
        Vehicle type :
      </div>
      <div style="float: left; margin-right: 20px">
        {{ bill.vehicleType }}
      </div>
    </h3>
  </div>
  <div style="display: inline-flex; width: 100%; margin: 30px">
    <h3>
      <div
        style="
          float: left;
          margin-left: 220px;
          margin-right: 20px;
          display: block;
        "
      >
        Vehicle manufacturer :
      </div>
      <div style="float: left; margin-right: 20px">
        {{ bill.manufacturer }}
      </div>
    </h3>
  </div>
  <div style="display: inline-flex; width: 100%; margin: 30px">
    <h3>
      <div
        style="
          float: left;
          margin-left: 220px;
          margin-right: 20px;
          display: block;
        "
      >
        Vehicle chasis number :
      </div>
      <div style="float: left; margin-right: 20px">{{ bill.chasisNo }}</div>
    </h3>
  </div>
  <div style="display: inline-flex; width: 100%; margin: 30px">
    <h3>
      <div
        style="
          float: left;
          margin-left: 220px;
          margin-right: 20px;
          display: block;
          color: brown;
        "
      >
        Policy type :
      </div>
      <div style="float: left; margin-right: 20px;color: brown;">
        {{ bill.policyType }}
      </div>
    </h3>
  </div>
  <div style="display: inline-flex; width: 100%; margin: 30px">
    <h3>
      <div
        style="
          float: left;
          margin-left: 220px;
          margin-right: 20px;
          display: block;
          color: brown;
        "
      >
        Policy duration :
      </div>
      <div style="float: left; margin-right: 20px;color: brown;">
        {{ bill.policyDuration }} years
      </div>
    </h3>
  </div>
  <div style="display: inline-flex; width: 100%; margin: 30px">
    <h3>
      <div
        style="
          float: left;
          margin-left: 220px;
          margin-right: 20px;
          display: block;
          color: brown;
        "
      >
        Amount Paid :
      </div>
      <div style="float: left; margin-right: 20px;color: brown;">
        {{ payment.amount }} 
      </div>
    </h3>
  </div>
  <div style="display: inline-flex; width: 100%; margin: 30px">
    <h3>
      <div
        style="
          float: left;
          margin-left: 220px;
          margin-right: 20px;
          display: block;
        "
      >
        Payment Mode :
      </div>
      <div style="float: left; margin-right: 20px">
        {{ payment.paymentMode }} 
      </div>
    </h3>
  </div>
  
  <div class="btn-div">
    <button class="btn-success" type="button" [routerLink]="['/user-page']">home</button>
  </div>
</div>

</div> -->

<div class="column">
  <div
    
    class="box"
    style="background: #d5f5e3"
  >
    <ul>
      <li> name : <b>{{ bill.customerName }}</b></li>
      
      <li>Phone Number : {{ bill.phoneNo }}</li>
      <li>vehicle : {{ bill.vehicleType }}</li>
      <li>vehicle manufacturer : {{ bill.manufacturer }}</li>
      <li>chassis number : {{ bill.chasisNo }}</li>
      <li>policy type : {{ bill.policyType }}</li>
      <li>policy duration : {{ bill.policyDuration }} years</li>
      <li>payment Mode : {{ payment.paymentMode }}</li>
      <li>
        <h2>Premium Amount : {{ payment.amount }}</h2>
      </li>
    </ul>
    <button class="btn" type="button" [routerLink]="['/user-page']">home</button>
  </div>
</div>

