
.signin{
    text-align: center;
    margin:10%;
    padding:2%;
}

.s1{
    margin:3%;
}
.s2{
    margin:3%;
}


.s3{
    margin:3%;
    margin-left: 6%;
    width:35%;
    padding:1%;
    background-color: rgb(0, 102, 255);
 }
