 #image-container{
    background-image: url("src\assets\images\signin.jpg");
    background-size:100% 100%;
    
  }
.signin{
    text-align: left;
    margin-top: 4%;
}

.s1,.s2{
    margin:2%;
    margin-left:10%;
}


.s3{
    margin-top: 1%;
    margin:2%;
    width:35%;
    padding:2%;
    background-color: #009353;
    color: black;
    font-size: large;
 }

  .s4{
      color:black;
      text-align: center;
      margin-top: 2%;
  }
  .s6,.s5{
      color: white;
      margin:2%;
  }
  .sp-alert{
    margin-left:10%;
  }