<app-nav></app-nav>
<div class="adminlogin">
    <form (ngSubmit)="adminCheck()">
      <div>
        <input
          name="userName"
          type="text"
          placeholder="userName"
          class="log1"
          [(ngModel)]="admin.username"
        />
      </div>
  
      <div>
        <input
          name="password"
          type="password"
          placeholder="password"
          class="log2"
          [(ngModel)]="admin.password"
        />
      </div>
  
      <div>
        <button type="submit" class="log3" [routerLink]="['/dashboard']" >Login</button>
      </div>
    </form>
  </div>
  