.login {
    text-align: center;
    margin-top: 20px;
  }

.adminlogin{
    text-align: center;
    margin-top: 4%;
}
.a{
    text-align: center;
    padding-top: 6%;
}
.log1,.log2{
    width: 30%;
    padding:12px 20px;
    margin:8px;
    border:1px solid #dfe1e6;
    border-radius: 4px;
    position: relative;
}
.log3{
    background: #21add8;
    color: #fff;
    margin: 20px 0 13px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 10px 5px -9px rgba(0,0,0,.3);
    padding: 20px;
    width: 33%;
}
#image-container{
    width: 100%;
    height: 400px;
   
    background-image: url("src\assets\images\adminlogin.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
   
    
  }