<app-nav></app-nav>
<div class="login">
  <h1>Log In to Admin Account</h1>
</div>
<div id="image-container">
<div class="adminlogin">
    <form (ngSubmit)="adminCheck()">
      <div class="a">
      <div class="a1">
        <input
          name="username"
          type="text"
          placeholder="username"
          class="log1"
          [(ngModel)]="admin.username"
        />
      </div>
  
      <div class="a2">
        <input
          name="password"
          type="password"
          placeholder="password"
          class="log2"
          [(ngModel)]="admin.password"
        />
      </div>
  
      <div class="a3">
        <button type="submit" class="log3" [routerLink]="['/dashboard']" >Login</button>
      </div>
    </div>
    </form>
  </div>
</div> 