<app-nav></app-nav>
<div>
  <form [formGroup]="renewPolicyForm">
    <div><h1>Renew Policy</h1></div>
    <div>
      <label for="policyNo">Policy number</label>
      <input formControlName="policyNo" type="number" id="pol" />
    </div>
    <div>
      <label for="year">Year</label>
      <select name="year">
        <option value="One year">One yea</option>
        <option value="Two year">Two year</option>
        <option value="Three year">Three year</option>
      </select>
    </div>
    <div>
      <button type="button" (click)="onClickRenewPolicy()">Make Payment</button>
    </div>
  </form>
</div>
