.status{
    color: red;
}
#button1{
    background: #0065ff;
    color: #fff;
    width: 140px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 10px 5px -9px rgba(0,0,0,.3);
    padding: 20px;
    
}
