<app-navbar></app-navbar>
<div class="login">
  <h1>Log In to Your Account</h1>
</div>
<div id="image-container">
  <div class="log6">
    <form #loginForm="ngForm" (ngSubmit)="loginCheck()">
      <div class="l">
        <div>
          <input
            name="email"
            type="text"
            placeholder="Email Id"
            class="log1"
            required
            [(ngModel)]="login.email"
            #userid="ngModel"
          />
          <div *ngIf="loginForm.submitted && userid.invalid">
            <div class="input-div" *ngIf="userid.errors.required">
              <span class="sp-alert">Enter Email Id</span>
            </div>
          </div>

        </div>

        <div>
          <input
            name="password"
            type="password"
            placeholder="Password"
            required
            class="log2"
            [(ngModel)]="login.password"
            #password="ngModel"
          />
          <div *ngIf="loginForm.submitted && password.invalid">
            <div class="input-div" *ngIf="password.errors.required">
              <span class="sp-alert">Password is required.</span>
            </div>
            </div>

        </div>

        <div>
          <button type="submit" class="log3">Login</button>
        </div>

        <span>
          <button
            type="button"
            class="log4"
            [routerLink]="['/forgot-password']"
          >
            forgot password
          </button>
          
        </span>
      </div>
    </form>
  </div>
</div>
