<nav>
  <ul class="nav-links">
    <a class="img" routerLink="/index" routerLinkActive="active"
      ><img src="../../../../assets/images/logo.jpeg"
    /></a>
    <li><a routerLink="/user-page" routerLinkActive="active">Home</a></li>
    <li>
      <a routerLink="/contact" routerLinkActive="active">About Us</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">Contact Us</a>
    </li>
    <div class="auth">
      <li class="auth">
        <a routerLink="/home-page" routerLinkActive="active">Sign Out</a>
      </li>
    </div>
  </ul>
</nav>
