<app-nav></app-nav>
<div class="header">
  <h1>Policy Selection</h1>
</div>
<div class="container">
  <div class="card">
    <h2 style="text-align: center; color: black;margin-bottom: 8px;">{{vehicleType}}</h2>
    <img *ngIf="trueWheeler"
        src="../../assets/images/bike.jpg"
        alt="Avatar"
        style="width: 100%; height: 90%;"
      />
      <img *ngIf="!trueWheeler"
        src="../../assets/images/car.jpg"
        alt="Avatar"
        style="width: 100%; height: 90%;"
      />
      
      <h4 style="text-align: center; color: black;margin-bottom: 8px;">manufacturer : {{manufacturer}}</h4>
      <h4 style="text-align: center; color: black; margin-bottom: 8px;">purchasae date : {{purchaseDate | date}}</h4>
      <h4 style="text-align: center; color: black;margin-bottom: 8px;">registration number : {{registrationNo}}</h4>
      <h3 style="text-align: center; color: brown;margin-bottom: 8px;">chassis number : {{chasisNo}}</h3>
  </div>
</div>

<div class="buy1">
  <form  (ngSubmit)="policyForm.valid && onClickPayment()" #policyForm = "ngForm">
    <div class="buy3"><h1>Plans</h1></div>
    <div><h3>Choose your Plan</h3></div>
    <span>
      <input
        type="radio"
        value="third party liability"
        name="policyType"
        [(ngModel)]="newPolicy.policy.policyType"
        required
        #policyType="ngModel"
        
      />
      <label for="policyType">Third Party Liability</label>
      <input
        type="radio"
        value="comprehensive"
        name="policyType"
        [(ngModel)]="newPolicy.policy.policyType"
        #policyType="ngModel"
      />
      <label for="policyType">Comprehensive</label>
    </span>
    <div *ngIf="policyForm.submitted && policyType.invalid">
      <div class="input-div" *ngIf="policyType.errors.required">
        <span class="sp-alert">Required</span>
      </div>
      </div>
    <div>
      <input
        type="radio"
        value="1"
        name="policyDuration"
        [(ngModel)]="newPolicy.policy.policyDuration"
        required
        #policyDuration="ngModel"

        
      />
      <label for="policyDuration">One year</label>
      <input
        type="radio"
        value="2"
        name="policyDuration"
        [(ngModel)]="newPolicy.policy.policyDuration"
        #policyDuration="ngModel"
        
      />
      <label for="policyDuration">Two years</label>
      <input
        type="radio"
        value="3"
        name="policyDuration"
        [(ngModel)]="newPolicy.policy.policyDuration"
        #policyDuration="ngModel"
        
      />
      <label for="policyDuration">Three years</label>
    </div>
    <div *ngIf="policyForm.submitted && policyDuration.invalid">
      <div class="input-div" *ngIf="policyDuration.errors.required">
        <span class="sp-alert">Required</span>
      </div>
      </div>
    
    <div>
      <button type="submit" class="buy2">
        Make Payment
      </button>
      
    </div>
  </form>
  <div>
    <button (click)="onAmountClick()">show amount</button>
  </div>
  <div *ngIf="policyForm.valid && toggle">
    <br>
    Your IDV is:<b>{{idv}}</b>
    <br>
    <br>
    Your Estimated Premium Value is:<b>{{estimatedValue}}</b>
    <br>
  </div>
</div>
