<app-nav></app-nav>
<div class="buy1">
  <form  (ngSubmit)="onClickPayment()" #policyForm = "ngForm">
    <div class="buy3"><h1>Plans</h1></div>
    <div><h3>Choose your Plan</h3></div>
    <span>
      <input
        type="radio"
        value="third party liability"
        name="policyType"
        [(ngModel)]="newPolicy.policy.policyType"
        required
        
      />
      <label for="policyType">Third Party Liability</label>
      <input
        type="radio"
        value="comprehensive"
        name="policyType"
        [(ngModel)]="newPolicy.policy.policyType"
      />
      <label for="policyType">Comprehensive</label>
    </span>
    <div>
      <input
        type="radio"
        value="1"
        name="policyDuration"
        [(ngModel)]="newPolicy.policy.policyDuration"
        required
        
      />
      <label for="policyDuration">One year</label>
      <input
        type="radio"
        value="2"
        name="policyDuration"
        [(ngModel)]="newPolicy.policy.policyDuration"
        
      />
      <label for="policyDuration">Two years</label>
      <input
        type="radio"
        value="3"
        name="policyDuration"
        [(ngModel)]="newPolicy.policy.policyDuration"
        
      />
      <label for="policyDuration">Three years</label>
    </div>
    
    <div>
      <button type="submit" class="buy2">
        Make Payment
      </button>
      
    </div>
  </form>
  <div>
    <button (click)="onAmountClick()">show amount</button>
  </div>
  <div *ngIf="policyForm.valid">
    <br>
    Your IDV is:<b>{{idv}}</b>
    <br>
    <br>
    Your Estimated Premium Value is:<b>{{estimatedValue}}</b>
    <br>
  </div>
</div>
