<app-nav></app-nav>
<div class="body">
<button type="button" (click)="displayOnClaimPage()" class="button1">See all your policies</button>
<div *ngIf="toggle">
<div *ngIf="claimPageDisplay[0].status">
  <table border="1" >
    <div *ngFor="let c of claimPageDisplay">
      <tr>
      <th>Policy Number</th>
      <th>Policy Id </th>
      <th>Policy Type</th>
      <th>Vehicle Type</th>
      <th>Manufacturer</th>
      <th>Car Model</th>
      <th>Registration Number</th>
     </tr>
    
      <tr>
        <td>{{c.policyNo}}</td>
       <td>{{c.policyId}}</td>
        <td>{{c.policyType}}</td>
        <td>{{c.vehicleType}}</td>
        <td>{{c.manufacturer}}</td>
        <td>{{c.model}}</td>
        <td>{{c.registrationNo}}</td>
      </tr>
    </div>
    </table>
  </div>
  <div *ngIf="!claimPageDisplay[0].status">
    <h3>There is no policy associated with this account...</h3>
  </div>
</div>

<div id="t1">
  Welcome {{customerName}}! We are here to help you out.
</div>
<div id="container">
  <form (ngSubmit)="onClaimClick()">
    <div>
      <label for="policyNo">Policy number</label>
      <input name="policyNo" type="number" id="pol" placeholder="policy number" [(ngModel)]="policyNo"/>

    </div>
  
    <div>
      <label for="reason">Reason</label>
      <select name="reason" [(ngModel)]="reason"> 
        <option value="natural disaster">Natural Disaster</option>
        <option value="man made disaster">Man Made Disaster</option>
        <option value="road accident">Road Accident</option>
        <option value="theft">Theft</option>
      </select>
    </div>
    
    <div>
      <button type="submit" class="button2" >Claim</button>
    </div>
  </form>
</div>
</div>


<div class="t2" >
  <button type="submit" (click)="onChatClick()" class="button1">Chat</button>
   {{displayOnEmailSent}}
</div>
<div class="chat" *ngIf="chat">
  <form (ngSubmit)="onChatSubmit()" >
    <label for="chat">Chat with us</label>
    <textarea id="chat" name="chat" rows="4" cols="50" [(ngModel)]="concerns"> 
      
      </textarea>
      <br><br>
      <button type="submit" class="button1">Send</button>
    </form>
    
</div>
