<app-nav></app-nav>
<div>
<button type="button" (click)="generateBill()">Generate Bill</button>
</div>
<table border="1" *ngIf="toggleBill">
    <tr>
        <th>Customer Name</th>
        <th>Phone Number</th>
        <th>Vehicle Type</th>
        <th>Vehicle Manufacturer</th>
        <th>Vehicle Chasis Number</th>
        <th>Policy Type</th>
        <th>Policy Duration</th>
        <th>Premium Amount</th>

    </tr>
    <tr>
        <td>{{ bill.customerName }}</td>
        <td>{{ bill.phoneNo }}</td>
        <td>{{ bill.vehicleType }}</td>
        <td>{{ bill.manufacturer }}</td>
        <td>{{ bill.chasisNo }}</td>
        <td>{{ bill.policyType }}</td>
        <td>{{ bill.policyDuration }} years</td>
        <td> {{ bill.amount }}</td>
    </tr>
</table>

<div id="payment">
    <div class="t1">
        Make Your Payment
    </div>
<form (ngSubmit)="renewPolicyPayment()">
    <div>
        <label for="paymentMode">Chose Payment mode</label>
        <select name="paymentMode" [(ngModel)]="renewPayment.paymentMode">
            <option value="credit card">credit card</option>
            <option value="debit card">debit card</option>
            <option value="paytm">paytm</option>
            <option value="UPI">UPI</option>
        </select>
    </div>
    <div>
        <button type="submit">make payment</button>
    </div>
    
</form>
</div>