<app-nav></app-nav>
<body>
    <div class = "header">
        <h2>Thank you for choosing us {{ bill.customerName }}</h2>
    </div>
  <div class="outter-div">
    <div class="inner-div">
      
      <div style="display: inline-flex; width: 100%; margin: 30px">
        <h3>
          <div
            style="
              float: left;
              margin-left: 220px;
              margin-right: 20px;
              display: block;
            "
          >
            Phone Number :
          </div>
          <div style="float: left; margin-right: 20px">{{ bill.phoneNo }}</div>
        </h3>
      </div>
      <div style="display: inline-flex; width: 100%; margin: 30px">
        <h3>
          <div
            style="
              float: left;
              margin-left: 220px;
              margin-right: 20px;
              display: block;
            "
          >
            Vehicle type :
          </div>
          <div style="float: left; margin-right: 20px">
            {{ bill.vehicleType }}
          </div>
        </h3>
      </div>
      <div style="display: inline-flex; width: 100%; margin: 30px">
        <h3>
          <div
            style="
              float: left;
              margin-left: 220px;
              margin-right: 20px;
              display: block;
            "
          >
            Vehicle manufacturer :
          </div>
          <div style="float: left; margin-right: 20px">
            {{ bill.manufacturer }}
          </div>
        </h3>
      </div>
      <div style="display: inline-flex; width: 100%; margin: 30px">
        <h3>
          <div
            style="
              float: left;
              margin-left: 220px;
              margin-right: 20px;
              display: block;
            "
          >
            Vehicle chasis number :
          </div>
          <div style="float: left; margin-right: 20px">{{ bill.chasisNo }}</div>
        </h3>
      </div>
      <div style="display: inline-flex; width: 100%; margin: 30px">
        <h3>
          <div
            style="
              float: left;
              margin-left: 220px;
              margin-right: 20px;
              display: block;
            "
          >
            Policy type :
          </div>
          <div style="float: left; margin-right: 20px">
            {{ bill.policyType }}
          </div>
        </h3>
      </div>
      <div style="display: inline-flex; width: 100%; margin: 30px">
        <h3>
          <div
            style="
              float: left;
              margin-left: 220px;
              margin-right: 20px;
              display: block;
            "
          >
            Policy duration :
          </div>
          <div style="float: left; margin-right: 20px">
            {{ bill.policyDuration }} years
          </div>
        </h3>
      </div>
      <div style="display: inline-flex; width: 100%; margin: 30px">
        <h2 style="color: brown;">Premium Amount : {{ payment.amount }}</h2>
      </div>
    </div>
    <div style="display: inline">
      <form (ngSubmit)="payForm.valid && makePayment()" #payForm="ngForm">
        <div class="input-div">
          <label for="paymentMode"><h2>Chose Payment mode</h2></label>
          <select name="paymentMode" [(ngModel)]="payment.paymentMode" required #mode="ngModel">
            <option value="credit card">Credit card</option>
            <option value="debit card">Debit card</option>
            <option value="paytm">Paytm</option>
            <option value="UPI">UPI</option>
          </select>
        </div>
        <div *ngIf="payForm.submitted && mode.invalid">
          <div class="input-div" *ngIf="mode.errors.required">
            <span class="sp-alert">Required</span>
          </div>
          </div>
        <div class="btn-div">
          <button class="btn-success" type="submit">Make payment</button>
        </div>
      </form>
    </div>
  </div>
</body>
