<app-nav></app-nav>
<h3 class="header">Customer Vehicle details are:</h3>
<div class="claimsTable">
<table>
    <tr>
        <th>Vehicle Id</th>
        <th>Chasis Number</th>
        <th>Driving Licence Number</th>
        <th>Vehicle Type</th>
        <th>Registration Number</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Engine Number</th>
    </tr>
    <tr>
        <td>{{vehicle.vehicleId}}</td>
        <td>{{vehicle.chasisNo}}</td>
        <td>{{vehicle.dlNo}}</td>
        <td>{{vehicle.vehicleType}}</td>
        <td>{{vehicle.registrationNo}}</td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.manufacturer}}</td>
        <td>{{vehicle.engineNo}}</td>

    
    </tr>
</table>
</div>