<app-nav></app-nav>

<div class="allclaims">
  <button class="btn" (click)="getUser()">Get all claims</button>
</div>

<div>
<form (ngSubmit)="getUser()">
  Enter claim id:<br>
<input type="number" placeholder="claimId" [(ngModel)]="claimId1" name="claimId">
<button type="submit">Get user Details</button>
</form>
</div>

<div>
  <form (ngSubmit)="getVehicle()">
    Enter Claim id:<br>
    <input type="number" placeholder="claimId" [(ngModel)]="claimId2" name="claimId2">
    <button type="submit">Fetch Vehicle Details</button>
  </form>
</div>


<div>
  <br><br>
  <form (ngSubmit)="approval()"> 
    Claim Id:
    <input type="number" placeholder="Claim Id" [(ngModel)]="adminApproval.claimId" name="claim"/> 
    status:
    <select name="status" [(ngModel)]="adminApproval.status" >
      <option value="reject">Reject</option>
      <option value="Approved">Approve</option>
    </select>
    amount:
    <input type="number" placeholder="amount" [(ngModel)]="adminApproval.amount" name="amount">
  <button type="submit">Claim approval</button>
  </form>
</div>


<div class="claimsTable">
<br><br><br>
<table>
<tr>
  <th>Claim Id</th>
  <th> Reason </th>
  <th>Status </th>
  <th>Date of Application</th>
  <th>Admin amount</th>
  <th>Policy No</th>
</tr>
</table>

<div *ngFor="let c of claims">
  <table border="1">  
  <tr>
    <td>{{c.claimId}}</td>
    <td>{{c.reason}}</td>
    <td>{{c.status}}</td>
    <td>{{c.dateApplied}}</td>
    <td>{{c.adminAmount}}</td>
    <td>{{c.policyNo}}</td>
  </tr>
  </table>
  
</div>
</div>
