<app-nav></app-nav>
<!--<div class="dash">
        <div *ngFor="let c of claims">
          <ul>
            <li>claim id : {{claim.claimId}}</li>
            <li>claim status : {{claim.status}}</li>
            <li>claim reason : {{claim.reason}}</li>
          </ul>
        </div>
        Enter claim id:
        <input type="number" name="claimid" placeholder="claim-id"/>
        
        <button>Submit</button>
</div>
-->
<div *ngFor="let c of claims">
  <table border="1"> 
    <tr>
    <th>Claim Id</th>
    <th>Reason </th>
    <th>Status </th>
    <th>Date of Application</th>
    <th>Admin amount</th>
    <th>Policy No</th>
  </tr>
  <tr>
    <th>{{c.claimId}}</th>
    <th>{{c.reason}}</th>
    <th>{{c.status}}</th>
    <th>{{c.dateApplied}}</th>
    <th>{{c.adminAmount}}</th>
    <th>{{c.policyNo}}</th>
  </tr>
  </table>

  
</div>
