td { 
    width:150px; 
    text-align:center; 
    border:1px solid black; 
    padding: 12px 15px;
  
} 
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #009879;
   
}
th{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    width:150px; 
    text-align:center; 
    border:1px solid black; 
    padding: 12px 15px;
   
    
}
.header{
    text-align: center;
    color: darkcyan;
    margin: 2%;
}
.claims,.d3,.d2{
    text-align: center;
    position: relative;
}
.b1{
    background-color: darkcyan;
    padding: 6px;
}
.b2{
    background-color: darkcyan;
}
.claimsTable{
    text-align: center;
    margin-left:15%;
}
.d1{
    text-align: center;
    display: flex;
    position: relative;
    margin-left:25%;
}
.d2,.d3,.d4{
    text-align: center;
    margin:6%;
}
.d5{
    color: burlywood;
}
.text2{
    color: rgb(219, 216, 21);
}
input{
    text-align: center;
    box-sizing: content-box;
}