<app-navbar></app-navbar>
  <div id="image-container">
<div class="forgotpwd">
  <form #forgetpassword="ngForm">
    <div *ngIf="!val">
      <input
        name="email"
        class="f1"
        placeholder="Email"
        type="email"
        [(ngModel)]="forgotensMail.mailid"
      /><br />
    </div>
    <div *ngIf="errMessage" class="err">{{ errMessage }}</div>
    <div *ngIf="val">
      <input
        name="Otp"
        class="f2"
        placeholder="Otp"
        type="text"
        [(ngModel)]="otp"
      /><br />
    </div>
    <div *ngIf="!val">
      <button class="f3" (click)="onSubmitClick()" type="button">Submit</button
      ><br />
    </div>
    <div *ngIf="val">
      <button class="f4" (click)="checkOtp()" type="button">Check Otp</button
      ><br />
    </div>
  </form>
</div>
</div>