<app-navbar></app-navbar>
<div class="register">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmitClick()">
    <div>
      <input
        formControlName="name"
        class="reg1"
        placeholder="Name.."
        type="text"
      /><br />
    </div>
    <div>
      <input
        name="email"
        class="reg2"
        placeholder="Email"
        type="email"
        [(ngModel)]="customer.email"
      /><br />
    </div>
    <div>
      <input
        formControlName="dateOfBirth"
        class="reg3"
        placeholder="Date of Birth"
        type="text"
        [(ngModel)]="customer.name"
      /><br />
    </div>
    <div>
      <input
        formControlName="contactNumber"
        class="reg4"
        placeholder="Contact Number"
        type="number"
      /><br />
    </div>
    <div>
      <input
        formControlName="address"
        class="reg5"
        placeholder="Address"
        type="text"
      /><br />
    </div>
    <div>
      <input
        formControlName="password"
        class="reg6"
        placeholder="Password"
        type="password"
      /><br />
    </div>
    <div>
      <input
        formControlName="confirmPassword"
        class="reg7"
        placeholder="Confirm Password"
        type="password"
      /><br />
    </div>
    <div><button class="reg8" type="button">Submit</button><br /></div>
  </form>
</div>
